<div class="row">

    <div class="col-4">

        <app-donut [tituloHijo1]="tituloPadre1" [etiquetasHijo1]="etiquetasPadre1" [dataHijo1]="dataPadre1"></app-donut>

    </div>

    <div class="col-4">

        <app-donut [tituloHijo1]="tituloPadre2" [etiquetasHijo1]="etiquetasPadre2" [dataHijo1]="dataPadre2"></app-donut>

    </div>

</div>

<div class="row">

    <div class="col-4">

        <app-donut [tituloHijo1]="tituloPadre3" [etiquetasHijo1]="etiquetasPadre3" [dataHijo1]="dataPadre3"></app-donut>
        
    </div>

    <div class="col-4">

        <app-donut [tituloHijo1]="tituloPadre4" [etiquetasHijo1]="etiquetasPadre4" [dataHijo1]="dataPadre4"></app-donut>

    </div>

</div>